* {
    margin: 0;
    padding: 0;
}
/* #wrap {
    min-height: 100vh;
    position: relative;
    width: 100%;
} */
#headertxt{
    /* background-color: #D9D9D9; */
    /* border: 1px solid black; */
    height: 85px;
    display: flex;
    font-family: 'Bebas Neue', cursive;
    font-size: 60px;
    color: #D9D9D9;
    justify-content: center;
    align-items: center;
}
.container{
    height: 600px;
    background-color: #D9D9D9;
	float: left;
}
.footer{
	height: 50px;
    color: #D9D9D9;
    text-align: center;
    /* background-color: #D9D9D9; */
}
#clock{
    display: flex;
    color: #D9D9D9;
    /* text-align: center; */
    font-size: 100px;
    align-items: center;
    justify-content: center;   
}
#weather{
    display: flex;
    color: #D9D9D9;
    /* text-align: center; */
    font-size: 20px;
    align-items: center;
    justify-content: center;   
}
#bgBtnBlock{
    display: flex;
    align-items: center;
    justify-content: center;   
}
#Changebg{
    position: relative;
    border: none;
    display: flex;
    padding: 15px 30px;
    border-radius: 15px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
    align-items: center;
    justify-content: center;
    background-color: #D9D9D9;

}

